#slapdash {
    max-width: unset;
}

#ion_string {
    order: -2;
}

#solve {
    order: -1;
}

[id="mode_report"] {
    flex-basis: 100%;
}

[id="mode_plot"] {
    flex-basis: 100%;
}

.form-control[name="mode_report"] {
    font-family: monospace;
    height: 300px;
    box-sizing: border-box;
    resize: both;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}

[id^="trap_parameters.f"] {
    flex-basis: 30%;
}

[id="plots"] .group {
    flex-basis: 45%
}

[id="plots"] .group h4 {
    display: none;
}

[id="plots.roi"] {
    flex-basis: 100% !important
}

[id="plots.roi"] h4 {
    display: unset !important
}

[id^="plots.roi."] {
    flex-basis: 30%;
}

[id^="plots.roi.x_slice"] {
    flex-basis: 100%;
}

[id^="field_parameters.add_field"] {
    flex-basis: auto !important;
}

[id^="field_parameters.field_"] {
    flex-basis: 30%;
}